.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #000;
}

.logo-accent {
  color: #2196f3;
}

/*logo footer*/

.logo-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #000;

  margin-bottom: 20px;
  display: inline-block;
}

.logo-alt {
  color: #fff;
}
